*{
    margin: 0; /* * is the universal selector - will apply changes to all elements */
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 200vh;
    background-color: #9DF9EF;
    display: flex; /*centers the image grid */
}

.Memory-game {
    --gap:10px;
    --num-cols: 3;
    --row-height:200px;

    width: 600px;
    height: 600px;
    padding: var(--gap);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    
}

.memory-card {
    width: 25%;
    height: 33.333%;
    position: relative;
    margin:5px;
    align-items: center;
    /* adding a 3D effect */
    transform: scale(1);
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.5s;
}

/* click effect */
.memory-card:active {
    transform:scale(.97);
    transition: transform 0.2s;

}
.memory-card.flip {
    transform: rotateY(180deg);
}

.front,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid deeppink;
    background: blue;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
